<div id="prodshow" style="display: none;"></div>
<div class="max-w-lg mx-auto bg-gray-800 text-white py-4 px-6 rounded-lg shadow-lg">
  <!-- Match Timer -->
  <div class="text-center mb-4">
    <span class="text-xl font-bold">00:45</span>
  </div>

  <!-- Scoreboard -->
  <div class="flex justify-between items-center">
    <!-- Team A Name -->
    <div class="text-left">
      <h2 class="text-2xl font-bold"><%= @match.team_a %></h2>
    </div>

    <!-- Score -->
    <div class="flex items-center">
      <!-- Team A Score -->
      <div class="text-4xl font-bold mr-4" id="score-team-a"><%= @match.goals_team_a %></div>

      <!-- Separator -->
      <div class="text-gray-300 text-xl font-bold">-</div>

      <!-- Team B Score -->
      <div class="text-4xl font-bold ml-4" id="score-team-b"><%= @match.goals_team_b %></div>
    </div>

    <!-- Team B Name -->
    <div class="text-right">
      <h2 class="text-2xl font-bold"><%= @match.team_b %></h2>
    </div>
  </div>
</div>

<div id="match-id" data-match-id="<%= @match.id %>" style="display: none;"></div>